* {
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}
.main-container {
    display: flex;
    flex-direction: column;
}

.presentation-container {
    background-color: black;
    color: aliceblue;
}

.text-container {
    margin-top: 8vh;
    margin-left: 10%;
}

.principal-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    color: gray;
    max-width: 450px;
    line-height: 35px;
    
}

.big-green {
    color: rgb(9, 216, 9);
    font-size: 50px;

}

.secondary-title {
    margin-top: 20px;
    padding-left: 11px;
    font-size: 25px;
    max-width: 400px;
    line-height: 25px;
}

.secondary-title::first-letter {
    font-size: 30px;
}

.thirty-title {
    padding: 11px;
    color:rgb(7, 165, 7);
    font-size: 15px;
    
}

.input-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 11px;
    flex-direction: column;
    height: 80px;
}
input{
    max-width: 420px;
    max-height: 200px;
    background-color: rgb(43, 41, 41);
    color: white;
    margin: 5px;
    border: 1px solid rgb(78, 107, 78);
    flex-grow: 1;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 12px
}

.input-confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 216, 9);
    margin-left: 15px;
    width: 446px;
    height: 39px;
    border-radius: 3px;
    color:black;
    border: 1px solid rgb(9, 216, 9)
}

.input-confirm-btn:hover {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}

.text-btn {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: inherit
}

li {
    list-style: none;
}

ul {
    padding: 0;
}
.benefits-container {
    display: flex;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: rgb(37, 37, 37);
    max-width: 80%;
    height: 100px;
    border-radius: 10px;
    align-items: center;


}

.benefit-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 12px
}

.benefit-container ion-icon {
    font-size: 40px;
    color:rgb(7, 165, 7);
    padding-bottom: 5px;
}   

.reason-container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-reason {
    color:rgb(9, 216, 9);
    font-size: 30px;
}

.reason {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.reason-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 260px;
    margin: 40px
}

.reason-item li {
    text-align: center;
    flex-grow: 1;
}

.big {
    position: relative;
    left: 10px;
    font-size: 100px;
    font-weight: bold;
    max-height: 120px;
}

.reason-item-description {
    font-weight: bold;
}

.confirm-btn {
    background-color: rgb(9, 216, 9);
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 25px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid 1px rgb(9, 216, 9)
}

.confirm-btn a{
    text-decoration: none;
    color: inherit;
}

.confirm-btn:hover {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: solid 1px white;
}

::-webkit-input-placeholder {
    font-weight: bold;
    color: white
}

.first-classes-container {
    display: flex;
    background-color: #1c1c1c;
    color: white;
    flex-direction: column;
    align-items: center;
}

.first-class-title {
    margin: 30px 0px;
    color:rgb(7, 247, 7);
    font-size: 30px;
}

img {
    width: 250px;
    height: 150px;
}
.classes-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    width: 60%;
}

.class-name {
    color:rgb(7, 165, 7);
    font-size: 13px;
    margin-top: 20px;
}

.class-subject {
    font-size: 16px;
}

.first-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.second-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}